[submodule "robosuite"]
	path = robosuite
	url = https://github.com/ARISE-Initiative/robosuite
[submodule "robocasa"]
	path = robocasa
	url = https://github.com/robocasa/robocasa
[submodule "openpi"]
	path = openpi
	url = git@github.com:Physical-Intelligence/openpi.git
[submodule "RLinf"]
	path = RLinf
	url = git@github.com:RLinf/RLinf.git
[submodule "vggt"]
	path = vggt
	url = git@github.com:facebookresearch/vggt.git
[submodule "LIBERO"]
	path = LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
